---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "リンク集";
const pubDate = "2026-03-07";
const modDate = "2026-03-20";
const description = "私の外部リンクです。";
---

<PageLayout pageTitle={pageTitle} pubDate={pubDate} modDate={modDate} description={description}>
<p>ここでは私の、外部リンクについてご紹介していきます。</p>
<h2>サイトリスト</h2>

<h3>画像作品集</h3>
<ul class="menu-list">
<li><a href="https://naomina121.tumblr.com/" target="_blank">ナオの画像作品集</a></li>
</ul>

<hr class="my-4 border-gray-600">

<h3>YOUTUBE</h3>

<ul class="menu-list">
<li><a href="https://youtube.com/@naoone2026?si=DEKfHyNQXLs8TakW" target="_blank">ナオとone（解離性同一性障害）</a></li>
<li><a href="https://youtube.com/@naomina121?si=n0Gpile0aSw-Zt_m" target="_blank">ナオのチャンネル</a></li>
</ul>


<hr class="my-4 border-gray-600">

<h3>Mastdon</h3>

<ul class="menu-list">
<li><a href="https://mastodon.naomina121.com/@naomina121" target="_blank">naomina121のMastdon</a></li>
<li><a href="https://mastodon.naomina121.com/@one_2025_" target="_blank">oneのMastdonアカウント</a></li>
<li><a href="https://mastodon.naomina121.com/@naomina1201" target="_blank">日常垢のMastdonアカウント</a></li>
<li><a href="https://mastodon.naomina121.com/@minamiemi2006" target="_blank">英語学習のMastdonアカウント</a></li>
</ul>

<hr class="my-4 border-gray-600">

<h3>はてなブログ</h3>

<ul class="menu-list">
<li><a href="https://thought.naomina121.com" target="_blank">naomina121のブログ</a></li>
<li><a href="https://one.naomina121.com/" target="_blank">oneのブログ</a></li>
</ul>

<hr class="my-4 border-gray-600">

<h3>note</h3>
<ul class="menu-list">
<li><a href="https://note.com/naoone2026" target="_blank">ナオとoneのnoteでしか話せない話</a></li>
<li><a href="https://note.com/naomina121_note" target="_blank">naomina121のアカウント</a></li>
<li><a href="https://note.com/one_2025_" target="_blank">oneのアカウント</a></li>
</ul>

</PageLayout>
